*
!*/
!nvim/**
!polybar/**
!i3/**
!ranger/**
!rofi/**
!.gitignore
!.zshrc
!alacritty/**
!neofetch/**
!wal/**
!dunst/**
!flashfocus/**
!firefox/**
!picom.conf
!.xinitrc
!.Xmodmap
!bspwm/**
!tmux/**
!sxhkd/**
!lf/**
